.gradle
.idea
.cxx
.externalNativeBuild
build
captures

._*
*.iml
.DS_Store
local.properties

node_modules
node_modules/
node_modules/*

logs
logs/
logs/*
log.log


env.js
distributedCfg.js

package-lock.json
yarn.lock



