<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstocks.referral.mapper.ReferralWithdrawMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xstocks.referral.pojo.ReferralWithdraw">
        <id column="id" property="id" />
        <result column="net" property="net" />
        <result column="address" property="address" />
        <result column="amount" property="amount" />
        <result column="tx_hash" property="txHash" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, net, address, amount, tx_hash, create_time
    </sql>

</mapper>
