<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstocks.statistics.mapper.RankOverallPendingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xstocks.statistics.pojo.po.RankOverallPending">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="uid" property="uid" />
        <result column="address" property="address" />
        <result column="amount" property="amount" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, uid, address, amount, create_time
    </sql>

    <sql id="desensitize_sql">
        CONCAT(
        SUBSTRING(tmp.address, 1,FLOOR((CHAR_LENGTH(tmp.address) - 4) / 2)),
        '****',
        SUBSTRING(tmp.address,  CHAR_LENGTH(tmp.address) - FLOOR((CHAR_LENGTH(tmp.address) - 4) / 2) + 1)
    ) AS address,
    </sql>

    <insert id="rankTradeCountAll">
        DELETE FROM t_rank_overall_pending WHERE type = 'trade_count';
        INSERT INTO t_rank_overall_pending (type,uid,address,amount)
        SELECT 'trade_count',uid,address,COUNT(0) AS cnt FROM t_order_metadata
        WHERE type IN('long','close','break')
        GROUP BY address,uid ORDER BY cnt DESC;
    </insert>

    <insert id="rankRealizeAll">
        DELETE FROM t_rank_overall_pending WHERE type = 'realize';
        INSERT INTO t_rank_overall_pending (type,uid,address,amount)
        SELECT 'realize',uid,address,ROUND(IFNULL(SUM(amount),0),6) AS amt FROM t_order_metadata
        WHERE type IN ('close','break') GROUP BY address,uid ORDER BY amt DESC;
    </insert>

    <insert id="rankProfitRateAll">
        DELETE FROM t_rank_overall_pending WHERE type = 'profit_rate';
        INSERT INTO t_rank_overall_pending (type,uid,address,amount)
        SELECT 'profit_rate',uid,address,
        IFNULL(ROUND(( SUM( amount )* 100 / SUM( margin_amount )), 4 ),0) AS rate
        FROM t_order_metadata WHERE type IN('close','break') GROUP BY address,uid ORDER BY rate DESC;
    </insert>

    <select id="queryCurrentUserRank" resultType="com.xstocks.statistics.pojo.vo.RankItemVo">
        SELECT tmp.rankNo, tmp.uid,
        <include refid="desensitize_sql"/>
        tmp.amount FROM
        (
            SELECT
            @cur_rank := IF (
                @prev_amount = t.amount,
                @cur_rank,
                @cur_rank + 1
            ) AS rankNo,
            @prev_amount := t.amount AS prev_amount,
            t.uid,
            t.address,
            t.amount
        FROM
        t_rank_overall_pending t
        CROSS JOIN
        (SELECT
        @cur_rank := 0,
        @prev_amount := NULL) r
        WHERE t.type = #{type}
        ORDER BY t.id ASC
        ) tmp
        WHERE tmp.uid = #{uid}
    </select>

    <select id="queryExportRankList" resultType="com.xstocks.statistics.pojo.vo.ExportPendingRankVo">
        SELECT
            r.rankNo,
            r.uid,
            r.address,
            r.amount
        FROM (
                 SELECT
                     @cur_rank := IF(@prev_amount = t.amount, @cur_rank, @cur_rank + 1) AS rankNo,
            @prev_amount := t.amount AS prev_amount,
            t.uid,
            t.address,
            t.amount
                 FROM
                     t_rank_overall_pending t
                     CROSS JOIN (SELECT @cur_rank := 0, @prev_amount := NULL) r
                 WHERE
                     t.type = #{type}
                 ORDER BY t.id ASC
             ) r
        WHERE
            r.rankNo <![CDATA[ <= ]]> #{top}
    </select>

</mapper>
