<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstocks.uc.mapper.FollowRefundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xstocks.uc.pojo.FollowRefund">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_address" property="userAddress" />
        <result column="trader_id" property="traderId" />
        <result column="trader_uid" property="traderUid" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="tx_hash" property="txHash" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id,user_address, trader_id, trader_uid, amount, status, tx_hash, create_time, update_time
    </sql>

</mapper>
