<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstocks.uc.mapper.RechargeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xstocks.uc.pojo.RechargeRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="net" property="net" />
        <result column="tx_type" property="txType" />
        <result column="tx_hash" property="txHash" />
        <result column="amount" property="amount" />
        <result column="address" property="address" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, net, tx_type, tx_hash, amount, address, create_time
    </sql>

</mapper>
