<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstocks.uc.mapper.TuneExecutionMapper">

    <resultMap id="BaseResultMap" type="com.xstocks.uc.pojo.po.TuneExecutionPO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tunePlanId" column="tune_plan_id" jdbcType="BIGINT"/>
            <result property="tickerId" column="ticker_id" jdbcType="BIGINT"/>
            <result property="ts" column="ts" jdbcType="BIGINT"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tune_plan_id,ticker_id,
        ts,price,create_time,
        update_time
    </sql>
</mapper>
