<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstocks.uc.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xstocks.uc.pojo.po.UserPO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="psw" column="psw" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="inviteBy" column="invite_by" jdbcType="BIGINT"/>
        <result property="bizId" column="biz_id" jdbcType="VARCHAR"/>
        <result property="availableAssets" column="available_assets" jdbcType="DECIMAL"/>
        <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del" jdbcType="INTEGER"/>
        <result property="userStatus" column="user_status" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="bankNo" column="bank_no" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="txAddress" column="tx_address" jdbcType="VARCHAR"/>
        <result property="trcAddress" column="trc_address" jdbcType="VARCHAR"/>
        <result property="logo" column="logo" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="synopsis" column="synopsis" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="Operator" type="com.xstocks.uc.pojo.vo.OperatorVO">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,phone,psw,
        create_time,update_time,invite_by,
        biz_id,available_assets,org_code,
        is_del,user_status,user_name,logo,nick_name,synopsis
        address,id_card,bank_no,type,tx_address,trcAddress
    </sql>

    <select id="selectPageUserOfOrg" resultMap="BaseResultMap">
        select u.*
        from user u
                 join org o on u.org_code = o.code
        where o.org_code_path like concat('%', concat(#{path}, '%'))
    </select>

    <select id="selectOperatorOfOrg" resultMap="Operator">
        select u.id, u.user_name
        from user u
                 join org o on u.org_code = o.code
                 join role_user ru on u.id = ru.user_id
                 join role r on ru.role_id = r.id
        where o.org_code_path like concat('%', concat(#{path}, '%'))
          and r.role_code = #{roleCode}
    </select>
</mapper>
